.contact-container {
  padding: 40px;
  border-radius: 12px;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.contact-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

.contact-description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
  line-height: 1.5;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

form button {
  background-color: #566d8694;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Estilos para los temas */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}